html {
    position: relative;
    min-height: 100%;
}

body {
   margin-bottom: 150px;
}

.footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 100px;   /* Height of the footer */
}

.footerlinks {
  color: black;
  font-size: 26px;
  font-weight: 200;
}

.footerindivlinks {
  color: grey;
  font-size: 26px;
  font-weight: 100;
}

.section_header {
  padding: .75rem;
  line-height: 1.2;
  font-size: 58px;
  color: black;
  font-weight: 100;
}

.section_sub_header {
  padding: .75rem;
  line-height: 2.2;
  font-size: 25px;
  color: black;
  font-weight: 200;
}

.section_header_links a{
  padding: .75rem;
  line-height: 2.2;
  font-size: 1.5rem;
  color: grey;
  font-weight: 200;
}

.berkeley_img{
	height: 50px;
   	margin-top: 25px;
	float:right;
}

.jumbo_img{
	background-image: url("resources/CampusPanorama_1200_KeeganHouser.jpg");
	background-size: cover;
	height: 350px;
	object-position: center;
}

.memberbox {
}

.labphoto {
  display: block;
  margin-left: auto;
  max-width: 800px;
}

.memberimg {
    height: 50%;
    width: 50%;
    object-position: center;
}


.newsrow {
    max-height: 200px;
    overflow: hidden;
}

.newsmedia {
    height: 70px;
    max-width: 800px;
    min-width: 200px;
    overflow: hidden;
}

.newsimg {
    object-fit: contain;
    width: auto;
    height: 100%;
}

.top-buffer { 
    margin-top:50px; 
}

.researchimg {
    max-width: 200px;
    max-height: 200px;
    object-position: center;
}

.main_txt {
  font-size: 16px;
  font-weight: 300;
}

.main_txt_indent_header {
  font-size: 18px;
  font-weight: 250;
  padding: .75rem;
}

.smalltxt {
  font-size: 14px;
}

.navbar-nav a {
  padding: .75rem;
  line-hight: 2.2;
  font-size: 1.5rem;
  color: grey;
  font-weight: 200;
}

a:hover {
    color: black;
    text-decoration: none;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
  	font-weight: 350;
}


#map {
position: absolute;
top: 0;
bottom: 0;
width: 100%;
}

pre {
    white-space: pre-wrap;
}
